# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon


# Build artifacts
build/
dist/
*.o
*.d
*.app.dSYM
DerivedData/

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Logs
*.log
